---
import Layout from "../layouts/Layout.astro";
import Search from "../components/Search.astro";
---

<Layout title="PSNFinder">
  <main>
    <div class="min-h-screen flex flex-col text-center justify-center">
      <h1>Bienvenido a PSNFinder</h1>
      <Search />
    </div>
  </main>
</Layout>

<style>
  main {
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 0.5em;
  }
</style>
