---
import Layout from "../layouts/Layout.astro";

const url = new URL(Astro.request.url);
const user = url.searchParams.get('user');
---

<Layout title="PSNFinder">
  <main>
    <div class="min-h-screen flex flex-col text-center justify-center">
      <p class="text-2x1">Usuario encontrado: {user}</p>
    </div>
  </main>
</Layout>

<style>
  main {
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
</style>
